.wrapper_content {
	/* Эти стили останутся в модульном файле CSS */
}

.wrapper_content::-webkit-scrollbar {
	width: 2px;
}
.wrapper_content::-webkit-scrollbar-thumb {
	background-color: black;
}
.wrapper_content::-webkit-scrollbar-button {
	display: none;
}
.wrapper_content::-webkit-scrollbar-track {
	background: black;
}

.mock__image {
	/* Tailwind стили перенесены в JSX */
	/* Оставьте только стили, которые нельзя перенести */
	@media (max-width: 624.98px) {
		height: 515px;
	}
}

.block__content {
	/* Tailwind стили перенесены в JSX */
	/* Оставьте только стили, которые нельзя перенести */
	@media (max-width: 1366.98px) {
		width: 82.5%;
	}

	@media (max-width: 1200.98px) {
		width: 100%;
	}

	@media (max-width: 624.98px) {
		height: 1625px;
	}
}

.block__information {
	/* Tailwind стили перенесены в JSX */
}
