.trusted {
	@media (max-width: 1625px) {
		height: 810px;
	}
	@media (max-width: 869.98px) {
		height: 534px;
	}
}

.block__hello {
}

.block__hello > h1 {
}

.block__hello > h1 > span {
}

.block__hello > p {
}

.double__arrow {
}

.gentlemen {
}

.one {
}

.two {
}

.block__title {
}

.block__title > h2 {
	@media (max-width: 869.98px) {
		max-width: 340px;
	}
}

.block__title > h2 > span {
}

.none {
}

.screen {
	@media (max-width: 1625px) {
		height: 496px;
	}
}

.block__description {
}

.description_one {
}

.description {
}

.ourTeam {
}

.ourTeam__title {
}

.block__team {
}

.row__one,
.row__two,
.row__three {
}

.test {
}
