@import './variables.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	font-size: var(--fz-standart);
	font-family: 'Satoshi_Regular';
	overflow-x: hidden;
}

html {
	overflow-y: hidden;
}

body::-webkit-scrollbar {
	width: 2px;
}
body::-webkit-scrollbar-thumb {
	background-color: black;
}
body::-webkit-scrollbar-button {
	display: none;
}
body::-webkit-scrollbar-track {
	background: black;
}

#root {
	height: 100%;
}
