:root {
	--fz-standart: 16px;
	--color_one: #181c25;
	--color_two: #111318;
	--color_three: #ffffff;
	--color_four: #fcddbc;
	--color_five: #16e0bd;
	--color_six: #ef5b5b;
	--color_seven: #919ab6;
	--color_eight: #7884a5;
	--color_nine: #394056;
	--color_ten: #08090c;
}
