.wrapper_holders {
	@apply border border-color_eight border-solid bg-color_two w-2/3;

	@media (max-width: 1366.98px) {
		width: 60%;
	}

	@media (max-width: 375.98px) {
		width: 100%;
		/* margin-top: 800px; */
	}

	@media (min-width: 1024px) and (max-width: 1366px),
		(min-height: 600px) and (max-height: 768px) {
		overflow-y: scroll;
	}
}
.wrapper_holders::-webkit-scrollbar {
	width: 2px;
}
.wrapper_holders::-webkit-scrollbar-thumb {
	background-color: black;
}
.wrapper_holders::-webkit-scrollbar-button {
	display: none;
}
.wrapper_holders::-webkit-scrollbar-track {
	background: black;
}

.title {
	@apply w-full py-5 px-8 text-color_three font-bold text-base18 bg-color_ten;
}

.block__table {
}

.block__title {
	@apply flex;
}

.block__column {
	@apply [&:nth-child(3)]:w-56 [&:nth-child(2)]:w-56 last:w-auto first:w-52 flex gap-1 items-center py-4 px-7 border border-color_one border-solid PK1366:[&:nth-child(2)]:w-32 PK1366:[&:nth-child(3)]:w-32 PK1366:first:w-44 PK1366:px-5 PK1366:last:w-56;
	/* @apply [&:nth-child(3)]:w-1/4 [&:nth-child(2)]:w-1/4 last:w-auto first:w-52; */
}

.block__column:nth-child(4) {
	width: 35%;
}

.block__column > img {
	@apply w-5 h-5 mr-1;
}

.block__column > h3 {
	@apply text-color_seven uppercase text-base font-medium;
}

.object {
	@apply text-base text-color_three border-y border-solid border-color_one flex py-4 px-7;
}

.object > h4 {
	@apply text-color_four w-52;
}

.object > p {
	@apply text-color_three first:w-56 [&:nth-child(2)]:w-56 [&:nth-child(3)]:w-56 [&:nth-child(4)]:pl-12 PK1366:[&:nth-child(2)]:w-32 PK1366:[&:nth-child(3)]:w-32 PK1366:first:w-44;
}

.block__table_mini {
}

.block__table_mini > .object {
	@apply text-base text-color_three border-y border-solid border-color_one flex py-5 px-5 gap-6 MOBILE375:flex-wrap;
}

.acc {
}

.acc > h4 {
	@apply text-base text-color_seven uppercase flex items-center gap-1 mb-1;
}

.acc > h4 > img {
	@apply w-5 h-5;
}

.acc > p {
	@apply text-color_four;
}

.block__two_mini {
}

.row__one {
	@apply mb-1 flex;
}

.row__one > img {
	@apply w-5 h-5 mr-1;
}

.row__one > p {
}

.row__two {
	@apply flex;
}

.row__two > img {
	@apply w-5 h-5 mr-1;
}

.row__two > p {
}

.block__market_mini > h4 {
	@apply text-base text-color_seven uppercase flex items-center gap-1 mb-1;
}

.block__market_mini > h4 > img {
	@apply w-5 h-5 mr-1;
}

.block__market_mini > p {
}
